<style>
    .bg-header {
        background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(/media/{{ objects.pag_backgroundimage }}) center center no-repeat !important;
        background-size: cover;
    }
</style>
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">{{ objects.pag_title }}</h1>
            <a href="/" class="h5 text-white">Ir a Home</a>
        </div>
    </div>
</div>