{% extends 'web/pages.html' %}

{% block title %}{% endblock %}

{% block title_page %}

<style>
    .bg-header {
        background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(/media/{{ listElements.0.image }}) center center no-repeat !important;
        background-size: cover;
    }
</style>
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">{{ listElements.0.title }}</h1>
            <a href="/" class="h5 text-white">Ir a Home</a>
        </div>
    </div>
</div>
{% endblock %}

{% block base_page %}

<!-- Contact Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">{{ listElements.0.title }}</h5>
            <h1 class="mb-0">{{ listElements.0.subTitle }}</h1>
        </div>
        <div class="row g-5 mb-5">

            {% for element in listElements.0.plugins.all %}
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="{{ element.plu_icon }} text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">{{ element.plu_elementname }}</h5>
                        <h4 class="text-primary mb-0">{{ element.plu_text }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form>
                    <div class="row g-3">
                        <div class="col-6">
                            <input type="text" class="form-control border-0 bg-light px-4" placeholder="Tu nombre*" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <select class="form-select bg-light border-0" style="height: 55px;">
                                <option selected>Selecciona un servicio*</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control border-0 bg-light px-4" placeholder="Teléfono" style="height: 55px;">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control border-0 bg-light px-4" placeholder="Tu correo*" style="height: 55px;">
                        </div>
                        
                        <div class="col-12">
                            <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="Mensaje*"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Enviar mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% include 'web/includes/vendors.html' with objects=vendors %}

{% endblock %}