<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">{{ objects.bh_name }}</h5>
                    <h1 class="mb-0">{{ objects.bh_title }}</h1>
                </div>
                <p class="mb-4">{{ objects.bh_html|safe }}</p>

                <div class="row g-0 mb-3">
                    {% for element in objects.plugins.all %}
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="{{ element.plu_icon }} text-primary me-3"></i>{{ element.plu_elementname }}</h5>
                        </div>    
                    {% endfor %}
                </div>

            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/media/{{ objects.bh_image }}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->