<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for carr in objectCarrousel %}
        <div class="carousel-item {% if forloop.counter0 == 1 %}active{% endif %}">
            <img class="w-100" src="/media/{{carr.carr_image}}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{carr.carr_title}}</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{carr.carr_downloadtext}}</h1>
                    {% if carr.carr_isbutton == 1 %}
                    <a href="{{carr.carr_linkbutton}}" target="_blank" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">{{carr.carr_buttontext}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>