<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
    <a href="index.html" class="navbar-brand p-0">
        <h1 class="m-0">
            <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>{{ objects2.com_namecompany }}</h1>
        </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            {% for item in objects %}
            {% if item.it_name|lower == 'home' %}
            <a href="/" class="nav-item nav-link {% if request.session.item == item.it_name|lower %}active{% endif %}">{{item.it_name}}</a>
            {% else %}
            <a href="/{{item.it_link}}/" class="nav-item nav-link {% if request.session.item == item.it_link|lower %}active{% endif %}">{{item.it_name}}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% if objects.0.menu.me_hasasearchengine == 1 %}
        <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
        {% endif %}
    </div>
</nav>