
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>LokiLabs | Home</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Free HTML Templates" name="keywords"/>
<meta content="Free HTML Templates" name="description"/>
<!-- Favicon -->
<link href="/media/company_images/icon.png" rel="icon"/>
<!-- Google Web Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&amp;family=Rubik:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
<!-- Libraries Stylesheet -->
<link href="/static/web/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"/>
<link href="/static/web/lib/animate/animate.min.css" rel="stylesheet"/>
<!-- Customized Bootstrap Stylesheet -->
<link href="/static/web/css/bootstrap.min.css" rel="stylesheet"/>
<!-- Template Stylesheet -->
<link href="/static/web/css/style.css" rel="stylesheet"/>
<script src="/static/web/js/jquery-3.4.1.min.js"></script>
<!-- jquery confirm -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<!-- Spinner Start -->
<div class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center" id="spinner">
<div class="spinner"></div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
<div class="row gx-0">
<div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
<div class="d-inline-flex align-items-center" style="height: 45px;">
<small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+56 9 8782 4323</small>
<small class="text-light"><i class="fa fa-envelope-open me-2"></i>informaciones@lokilabs.cl</small>
</div>
</div>
<div class="col-lg-4 text-center text-lg-end">
<div class="d-inline-flex align-items-center" style="height: 45px;">
<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.facebook.com/LokiLabs-106785405765326" target="_blank"><i class="fab fa-facebook-f fw-normal"></i></a>
<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.linkedin.com/in/loki-labs-6a4533278/" target="_blank"><i class="fab fa-linkedin-in fw-normal"></i></a>
<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fw-normal"></i></a>
</div>
</div>
</div>
</div>
<!-- Topbar End -->
<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
<a class="navbar-brand p-0" href="index.html">
<h1 class="m-0">
<h1 class="m-0"><i class="fa fa-user-tie me-2"></i>LokiLabs</h1>
</h1>
</a>
<button class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
<span class="fa fa-bars"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<div class="navbar-nav ms-auto py-0">
<a class="nav-item nav-link active" href="/">Home</a>
<a class="nav-item nav-link" data-bs-menu="menu-page" href="acerca-de-nosotros.html">Sobre Nosotros</a>
<a class="nav-item nav-link" data-bs-menu="menu-page" href="nuestros-servicios.html">Nuestros Servicios</a>
<a class="nav-item nav-link" data-bs-menu="menu-page" href="contactanos.html">Contactanos</a>
</div>
</div>
</nav>
<div class="carousel slide carousel-fade" data-bs-ride="carousel" id="header-carousel">
<div class="carousel-inner">
<div class="carousel-item">
<img alt="Image" class="w-100" src="/media/company_images/carousel-1.jpg"/>
<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
<div class="p-3" style="max-width: 900px;">
<h5 class="text-white text-uppercase mb-3 animated slideInDown">CREATIVE &amp; INNOVATIVE</h5>
<h1 class="display-1 text-white mb-md-4 animated zoomIn">Creative &amp; Innovative Digital Solution</h1>
</div>
</div>
</div>
<div class="carousel-item active">
<img alt="Image" class="w-100" src="/media/company_images/carousel-2.jpg"/>
<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
<div class="p-3" style="max-width: 900px;">
<h5 class="text-white text-uppercase mb-3 animated slideInDown">CREATIVE &amp; INNOVATIVE</h5>
<h1 class="display-1 text-white mb-md-4 animated zoomIn">Creative &amp; Innovative Digital Solution</h1>
<a class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight" href="#" target="_blank">Contacto</a>
</div>
</div>
</div>
</div>
<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#header-carousel" type="button">
<span aria-hidden="true" class="carousel-control-prev-icon"></span>
<span class="visually-hidden">Anterior</span>
</button>
<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#header-carousel" type="button">
<span aria-hidden="true" class="carousel-control-next-icon"></span>
<span class="visually-hidden">Siguiente</span>
</button>
</div>
</div>
<!-- Navbar & Carousel End -->
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
<div class="modal-header border-0">
<button aria-label="Close" class="btn bg-white btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body d-flex align-items-center justify-content-center">
<div class="input-group" style="max-width: 600px;">
<input class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword" type="text"/>
<button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
</div>
</div>
</div>
</div>
</div>
<!-- Full Screen Search End -->
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container">
<div class="row gx-5">
<div class="col-lg-4 col-md-6 footer-about">
<div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
<a class="navbar-brand" href="index.html">
<h1 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>LokiLabs</h1>
</a>
<p class="mt-3 mb-4">¡Ingresa tu correo electrónico y descubre nuestros servicios más destacados! Mantente al tanto de nuestras últimas novedades, ofertas especiales y contenido exclusivo. Únete a nuestra comunidad y sé el primero en disfrutar de todas las ventajas. ¡Regístrate ahora para no perderte nada!</p>
<form action="" id="frm" name="frm">
<div class="input-group">
<input class="form-control border-white p-3" id="emailInput2" name="emailInput2" placeholder="Ingresa tú correo" type="text"/>
<button class="btn btn-dark" onclick="sendDataEmail()" type="button">Registrarse</button>
</div>
</form>
</div>
</div>
<div class="col-lg-8 col-md-6">
<div class="row gx-5">
<div class="col-lg-4 col-md-12 pt-5 mb-5">
<div class="section-title section-title-sm position-relative pb-3 mb-4">
<h3 class="text-light mb-0">Ponerse en Contacto</h3>
</div>
<div class="d-flex mb-2">
<i class="bi bi-envelope-open text-primary me-2"></i>
<p class="mb-0">informaciones@lokilabs.cl</p>
</div>
<div class="d-flex mb-2">
<i class="bi bi-telephone text-primary me-2"></i>
<p class="mb-0">+56 9 8782 4323</p>
</div>
<div class="d-flex mt-4">
<a class="btn btn-primary btn-square me-2" href="https://www.facebook.com/LokiLabs-106785405765326" target="_blank"><i class="fab fa-facebook-f fw-normal"></i></a>
<a class="btn btn-primary btn-square me-2" href="https://www.linkedin.com/in/loki-labs-6a4533278/" target="_blank"><i class="fab fa-linkedin-in fw-normal"></i></a>
<a class="btn btn-primary btn-square me-2" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fw-normal"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
<div class="section-title section-title-sm position-relative pb-3 mb-4">
<h3 class="text-light mb-0">Enlaces Rápidos</h3>
</div>
<div class="link-animated d-flex flex-column justify-content-start">
<a class="text-light mb-2" data-bs-menu="menu-page" href="/"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
<a class="text-light mb-2" data-bs-menu="menu-page" href="acerca-de-nosotros.html"><i class="bi bi-arrow-right text-primary me-2"></i>Sobre Nosotros</a>
<a class="text-light mb-2" data-bs-menu="menu-page" href="nuestros-servicios.html"><i class="bi bi-arrow-right text-primary me-2"></i>Nuestros Servicios</a>
<a class="text-light mb-2" data-bs-menu="menu-page" href="contactanos.html"><i class="bi bi-arrow-right text-primary me-2"></i>Contactanos</a>
</div>
</div>
<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
<div class="section-title section-title-sm position-relative pb-3 mb-4">
<h3 class="text-light mb-0">Enlaces Populares</h3>
</div>
<div class="link-animated d-flex flex-column justify-content-start">
<a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Python</a>
<a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Django</a>
<a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Java</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid text-white" style="background: #061429;">
<div class="container text-center">
<div class="row justify-content-end">
<div class="col-lg-8 col-md-6">
<div class="d-flex align-items-center justify-content-center" style="height: 75px;">
<small>
<p class="mb-0">© <a class="text-white border-bottom" href="#"></a>. Todos los derechos reservados.
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Diseñado por <a class="text-white border-bottom" href="https://htmlcodex.com">HTML Codex</a>
</p>
<br/>Dsitribuido por: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
</small>
</div>
</div>
</div>
</div>
</div>
<script>

    function validateEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    const sendDataEmail = () => {

        // Obtener los valores del formulario
        const email = document.getElementById('emailInput2').value;

        if (email === '') {
            $.alert({
                title: 'Aviso!',
                content: 'Debes agregar tu correo!!',
            });
            return;
        }

        if (!validateEmail(email)) {
            $.alert({
                title: 'Error!',
                content: 'La dirección de correo electrónico es válida',
            });
            return;
        }

        // Endpoint al que se realizará la solicitud POST
        const endpoint = 'http://crm.lokilabs.cl/ajaxRegisterMail/';

        // Configurar Axios para omitir la protección CSRF
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        // Realizar la solicitud POST utilizando Axios
        axios.post(endpoint, {"rw_mailcontact": email})
            .then(response => {
                // La solicitud fue exitosa
                $.alert({
                    title: 'Aviso!',
                    content: 'registro realizado con éxito!!',
                });
            })
            .catch(error => {
                // Ocurrió un error durante la solicitud
                console.error('Error en la solicitud:', error.message);
                $.alert({
                    title: 'Error!',
                    content: 'Error en la solicitud:'+ error.message,
                });
            });
    };
</script>
<!-- Footer End -->
<!-- Back to Top -->
<a class="btn btn-lg btn-primary btn-lg-square rounded back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/web/lib/wow/wow.min.js"></script>
<script src="/static/web/lib/easing/easing.min.js"></script>
<script src="/static/web/lib/waypoints/waypoints.min.js"></script>
<script src="/static/web/lib/counterup/counterup.min.js"></script>
<script src="/static/web/lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Template Javascript -->
<script src="/static/web/js/main.js"></script>
<!-- Google tag (gtag.js) -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-45RJBC1C18"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-45RJBC1C18');
    </script>
</body>
</html>